<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <script>
    const dataInicio = new Date("{{ data_inicio }}");
  </script>
  <script src="/static/script.js" defer></script>
  <title>💞 Eu te amo</title>
</head>
<body class="love">

  <img src="{{url_for('static', filename='nossafoto.jpeg') }}" class="foto">

  <h2>Eu te amo há:</h2>

  <p id="contador"></p>

  <div id="coracoes"></div>

  <h2 class="titulo-idols">Nossas Ídols GL 💕</h2>

<div class="carousel">
    <button class="prev">❮</button>

    <div class="carousel-track">
        <div class="card">
            <img src="{{ url_for('static', filename='idols/lenamiu.jpg') }}">
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='idols/freenbecky.jpg') }}">
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='idols/enlot.jpg') }}">
        </div>
    </div>

    <button class="next">❯</button>
</div>

<script>
alert("JS do love.html carregou");
</script>

</body>
</html>