<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <script>
    const dataInicio = new Date("{{ data_inicio }}");
  </script>
  <script src="/static/script.js" defer></script>
  <title>💞 Eu te amo</title>
</head>
<body class="love">

 <img src="{{ url_for('static', filename='nossafoto.jpeg') }}" class="foto">


  <h2>Eu te amo há:</h2>

  <p id="contador"></p>

  <div id="coracoes"></div>

  <h2 class="titulo-idols">✨ Us (In another universe.) ✨</h2>

  <div class="carousel">
    <button class="prev" onclick="prevSlide()">❮</button>

    <div class="carousel-track">
        <div class="card">
            <img src="{{ url_for('static', filename='idols/lenamiu.jpg') }}">
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='idols/freenbecky.jpg') }}">
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='idols/englot.jpg') }}">
        </div>
    </div>

    <button class="next" onclick="nextSlide()">❯</button>
</div>

  <script>
document.addEventListener("DOMContentLoaded", function () {

    let index = 0;
    const track = document.querySelector(".carousel-track");
    const cards = document.querySelectorAll(".card");
    const nextBtn = document.querySelector(".next");
    const prevBtn = document.querySelector(".prev");

    if (!track || cards.length === 0) return;

    nextBtn.addEventListener("click", () => {
        index = (index + 1) % cards.length;
        track.style.transform = `translateX(${-index * 260}px)`;
    });

    prevBtn.addEventListener("click", () => {
        index = (index - 1 + cards.length) % cards.length;
        track.style.transform = `translateX(${-index * 260}px)`;
    });

});
</script>

</body>
</html>
